.scrollTop {
    position: fixed;
    bottom: 20px;
    align-items: center;
    height: 4rem !important;
    width: 4rem !important;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    color: black !important;
    background: white;
    border-radius: 50%;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }