.scrollTop {
    position: fixed;
    bottom: 20px;
    align-items: center;
    height: 3rem !important;
    width: 3rem !important;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    color: white !important;
    background: black;
    border-radius: 50%;
    right: 0;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }